<div class="grid grid-pad">
    <div class="col-3-12">
        <div>
            <img src="http://placehold.it/350x150">
        </div>
    </div>
    <div class="col-9-12">
        <div>
            <p><strong><abbr title="Human Robot Interaction">HRI</abbr> In The Sky</strong><br />
            Lores Ispum ...</p>
        </div>
    </div>    
</div>

<div class="grid grid-pad">
    <div class="col-3-12">
        <div>
            <img src="http://placehold.it/350x150">
        </div>
    </div>
    <div class="col-9-12">
        <div>
            <p><strong>Distributed Robot Monitoring System</strong><br />
            Lores Ispum ...</p>
        </div>
    </div>    
</div>

<div class="grid grid-pad">
    <div class="col-3-12">
        <div>
            <img src="http://placehold.it/350x150">
        </div>
    </div>
    <div class="col-9-12">
        <div>
            <p><strong><abbr title="Robot Operating System">ROS</abbr> Driver for Parrot AR-Drone 2.0</strong><br />
            Lores Ispum ...</p>
        </div>
    </div>    
</div>

<div class="grid grid-pad">
    <div class="col-3-12">
        <div>
            <img src="http://placehold.it/350x150">
        </div>
    </div>
    <div class="col-9-12">
        <div>
            <p><strong>Wordpress Persian Project</strong><br />
            Lores Ispum ...</p>
        </div>
    </div>    
</div>

<div class="grid grid-pad">
    <div class="col-3-12">
        <div>
            <img src="http://placehold.it/350x150">
        </div>
    </div>
    <div class="col-9-12">
        <div>
            <p><strong>grSim | Small Size Soccer Robots Simulator</strong><br />
            Lores Ispum ...</p>
        </div>
    </div>
</div>

<div class="grid grid-pad">
    <div class="col-3-12">
        <div>
            <img src="http://placehold.it/350x150">
        </div>
    </div>
    <div class="col-9-12">
        <div>
            <p><strong>wp-jalali | Wordpress Plugin</strong><br />
            Lores Ispum ...</p>
        </div>
    </div>
</div>
