<div class="grid grid-pad">
    <!-- Pelican HRI (irso15) -->
    <div class="col-1-3">
        <div class="js-lazyYT" data-youtube-id="KXmgBDI_6PE" ></div>
    </div>

	<!-- hri in the sky (iros13) -->
    <div class="col-1-3">
        <div class="js-lazyYT" data-youtube-id="xHH3GvZ52xg" ></div>
    </div>

    <!-- hri14 -->
    <div class="col-1-3">
        <div class="js-lazyYT" data-youtube-id="heiYPVGFnEM" ></div>
    </div>
</div>

<div class="grid grid-pad">
    <!-- you two take off (iros13) -->
    <div class="col-1-3">
        <div class="js-lazyYT" data-youtube-id="I8sJud-OApw" ></div>
    </div>

	<!-- give and take (icra13) -->
	<div class="col-1-3">
        <div class="js-lazyYT" data-youtube-id="WLwb7gJOl8w" ></div>
    </div>
	
	<!-- master thesis -->
    <div class="col-1-3">
        <div class="js-lazyYT" data-youtube-id="jqpWRmgM1oc" ></div>
    </div>
</div>