<div class="grid grid-pad">
    <div class="col-3-12">
        <div>
            <p>
                <img src="{{ site.baseurl }}public/img/hriinthesky-160.jpg" title="An instrumented human creates a team of UAVs, then commands them using gaze and hand gestures" alt="HRI In the Sky"/>
                <small>2011 - now</small>
            </p>
        </div>
    </div>
    <div class="col-9-12">
        <div>
            <p>
                <strong><abbr title="Human Robot Interaction">HRI</abbr> In The Sky</strong><br />
                As part of my PhD research I work on methods and techniques to enable humans interact with Unmanned Aerial Vehicles (aka Flying Robots). The goal is to let un-instrumented users create teams of UAVs, grab their attention and command them using natural interfaces such as Gaze, Gestures and Voice.<br />
                <em>Papers:</em> 
                    <a href="http://ieeexplore.ieee.org/xpl/articleDetails.jsp?arnumber=6696415">IROS'13</a>&nbsp;
                    <a href="http://dx.doi.org/10.1109/IROS.2013.6696344">IROS'13</a>&nbsp;
                    <a href="http://doi.acm.org/10.1145/2559636.2559806">HRI'14</a>&nbsp;
                    IROS'15<br />
                <em>Videos:</em>
                    <a href="https://www.youtube.com/watch?v=xHH3GvZ52xg">IROS'13</a>&nbsp;
                    <a href="https://www.youtube.com/watch?v=I8sJud-OApw">IROS'13</a>&nbsp;
                    <a href="https://www.youtube.com/watch?v=heiYPVGFnEM">HRI'14</a>&nbsp;
                    IROS'15<br />   
            </p>
        </div>
    </div>    
</div>

<div class="grid grid-pad">
    <div class="col-3-12">
        <div>
            <img src="{{ site.baseurl }}public/img/drums-160.png" title="DRUMS" alt="DRUMS" />
            <small>2013 - now </small>
        </div>
    </div>
    <div class="col-9-12">
        <div>
            <p>
                <strong>Distributed Robot Monitoring System (DRUMS)</strong><br />
                <em>DRUMS</em> is a real-time distributed monitoring system designed with robotic applications in mind. <a href="http://dx.doi.org/10.1109/CRV.2014.36">This paper</a> from <a href="http://www.computerrobotvision.org/">CRV'14</a> describes the system. The code is in pre-release state and is available <a href="https://github.com/drums-project">here</a>. 
            </p>
        </div>
    </div>    
</div>

<div class="grid grid-pad">
    <div class="col-3-12">
        <div>
            <img src="{{ site.baseurl}}public/img/ardrone2-160.png" title="Parrot AR-Drone 2.0" alt="Parrot AR-Drone 2.0" />
            <small>2012 - now</small>
        </div>
    </div>
    <div class="col-9-12">
        <div>
            <p>
                <strong><a href="http://ros.org"><abbr title="Robot Operating System">ROS</abbr></a> Driver for Parrot AR-Drone 2.0</strong><br />
                <em>ardrone_autonomy</em> is a driver to interface with <a href="http://ardrone2.parrot.com/">Parrot AR-Drone</a> quadrocopters through Robot Operating System (ROS). Since its release in 2012, it's been being used by many robotic and UAV researches around the globe. Google Scholar <a href="https://scholar.google.ca/scholar?q=ardrone_autonomy">has indexed</a> more than 40 publications that mention <em>ardrone_autonomy</em>. <br />
                <i class="fa fa-external-link-square"></i>&nbsp;<a href="https://github.com/AutonomyLab/ardrone_autonomy">Project homepage and source code</a> 
            </p>
        </div>
    </div>    
</div>

<div class="grid grid-pad">
    <div class="col-3-12">
        <div>
            <img src="{{ site.baseurl}}public/img/parsiansslrobots-160.jpg" title="Parsian 2012 SSL Robots" alt="Parsian 2012 SSL Robots" />
            <small>2005 - 2011</small>
        </div>        
    </div>
    <div class="col-9-12">
        <div>
            <p id="robocupssl">
                <strong>RoboCup Small Size Soccer Robots</strong><br />
                I was a founding member of <a href="http://robocupssl.cpe.ku.ac.th/teams:parsian">Parsian</a> <a href="http://www.robocup.org/">RoboCup</a> small size soccer robots team. I joined Parsian as a software developer in 2006 and then led and supervised the team for RoboCup'09, '10 and '11. Notable achievement include 2nd place in technical challenges in RoboCup'10 (Singapore) and 4th place in the main competition in RoboCup'11 (Turkey). I also served as a technical committee member of small size league for RoboCup'10.
            </p>
        </div>
    </div>
</div>

<div class="grid grid-pad">
    <div class="col-3-12">
        <div>
            <img src="{{ site.baseurl}}public/img/wpfa-160.png" title="Wordpress Persian Project" alt="Wordpress Persian Project" />
            <small>2005 - 2010</small><br /><small>2013 - now</small>
        </div>    
    </div>
    <div class="col-9-12">
        <div>
            <p>
                <strong>Wordpress Persian Project &amp; <em>wp-jalali</em> plug-in</strong><br />
                I co-founded <a href="http://wp-persian.com/">Wordpress Persian Project (wp-persian)</a> in 2005. The goal of this project is to enhance the experience of Persian (Farsi) language speaking users of popular <a href="http://wordpress.org">Wordpress</a> publishing platform through translation, code contribution and support. I am also the original author of popular <a href="https://wordpress.org/plugins/wp-jalali/">wp-jalali</a> Wordpress plug-in. Products of <em>wp-persian</em> project has been downloaded more than 1.5M times. <em>wp-jalali</em> is currently being used on more than 70K active Wordpress installations. 
            </p>
        </div>
    </div>    
</div>

<!-- <div class="grid grid-pad">
    <div class="col-3-12">
        <div>
            <img src="{{ site.baseurl}}public/img/thumb-grsim.jpg" title="grSim Simulator" alt="grSim Simulator" />
        </div>
    </div>
    <div class="col-9-12">
        <div>
            <p><strong>grSim | Small Size Soccer Robots Simulator</strong><br />
            Lores Ispum ...</p>
        </div>
    </div>
</div> -->

<h4>Other Projects</h4>

<ul>
    <li>
        <a href="https://github.com/mani-monaj/grSim">grSim</a>: 3D Small Size Soccer Robots Simulator (C++/OpenGL/Qt)
        <a href="http://link.springer.com/chapter/10.1007%2F978-3-642-32060-6_38">(Paper)</a>
    </li>
    <li>
        <a href="https://github.com/mani-monaj/mlearner">mLearner</a>: Fuzzy Reinforcement Learning Library (C++/Qt)
    </li>
</ul>
