<div class="grid grid-pad">
    <div class="col-3-12">
        <div>
            <img src="{{ site.baseurl }}public/img/thumb-hriinthesky.jpg" title="An instrumented human creates a team of UAVs, then commands them using gaze and hand gestures" alt="HRI In the Sky"/>
        </div>
    </div>
    <div class="col-9-12">
        <div>
            <p><strong><abbr title="Human Robot Interaction">HRI</abbr> In The Sky</strong><br />
            Lores Ispum ...</p>
        </div>
    </div>    
</div>

<div class="grid grid-pad">
    <div class="col-3-12">
        <div>
            <img src="{{ site.baseurl }}public/img/thumb-drums.png" title="DRUMS" alt="DRUMS" />
        </div>
    </div>
    <div class="col-9-12">
        <div>
            <p><strong>Distributed Robot Monitoring System</strong><br />
            Lores Ispum ...</p>
        </div>
    </div>    
</div>

<div class="grid grid-pad">
    <div class="col-3-12">
        <div>
            <img src="{{ site.baseurl}}public/img/thumb-ardrone2.png" title="Parrot AR-Drone 2.0" alt="Parrot AR-Drone 2.0" />
        </div>
    </div>
    <div class="col-9-12">
        <div>
            <p><strong><abbr title="Robot Operating System">ROS</abbr> Driver for Parrot AR-Drone 2.0</strong><br />
            Lores Ispum ...</p>
        </div>
    </div>    
</div>

<div class="grid grid-pad">
    <div class="col-3-12">
        <div>
            <img src="http://placehold.it/350x150">
        </div>
    </div>
    <div class="col-9-12">
        <div>
            <p><strong>RoboCup Small Size Soccer</strong><br />
            Lores Ispum ...</p>
        </div>
    </div>
</div>

<div class="grid grid-pad">
    <div class="col-3-12">
        <div>
            <img src="{{ site.baseurl}}public/img/thumb-wpfa.png" title="Wordpress Persian Project" alt="Wordpress Persian Project" />
        </div>
    </div>
    <div class="col-9-12">
        <div>
            <p><strong>Wordpress Persian Project & <i>wp-jalali</i> plug-in</strong><br />
            Lores Ispum ...</p>
        </div>
    </div>    
</div>

<div class="grid grid-pad">
    <div class="col-3-12">
        <div>
            <img src="{{ site.baseurl}}public/img/thumb-grsim.jpg" title="grSim Simulator" alt="grSim Simulator" />
        </div>
    </div>
    <div class="col-9-12">
        <div>
            <p><strong>grSim | Small Size Soccer Robots Simulator</strong><br />
            Lores Ispum ...</p>
        </div>
    </div>
</div>
